
<!-- <%= image_tag("logo.jpg") %> -->

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FareFairy API</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/business-frontpage.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body style="background-color: #F7F7F9;">


    <!-- Navigation -->


    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr>

        <div class="row">
            <div class="col-sm-12">
                <h2>Meet the FareFairy</h2>
                <p>Fare Fairy powers the Rider app, an Angular app that gives you information from the Uber, Lyft, Taxi Fare Finder and Google Transit APIs all at once. The Fare Fairy takes starting and destination addresses, converts them into latitude and longitude, asks each of the APIs their estimates for time and cost, then reports back to Rider. Because she's helpful like that. </p>
                <p>This app served as the final project of Cohort 6 at The Iron Yard. If you want more information or access to API, feel free to contact any of the team members below. </p>
                <p>
                    <a class="btn btn-lg btn-info" href="http://riderapp.us" target="_blank">See Rider in Action &raquo;</a>
                    <a class="btn btn-lg btn-success" href="/documentation">Docs &raquo;</a>
                </p>
            </div>

        </div>
        <!-- /.row -->

        <hr>

        <div class="row">
            <div class="stupid-bootstrap"><div class="col-sm-2 rider-peeps">
                <img class="img-circle img-responsive img-center" src="<%= asset_path( 'alex.jpg' ) %>" alt="">
                <h4 align="center">Alexander Allis</h4>
                <h5>Advertising Agency<br> Ex-Pat</h5>
                <p>Front-End Engineering</p>
              </div>
                <div class="personal-info-icons" style="padding-bottom: 10%; position:relative; text-align:center;">
                  <a href="https://www.linkedin.com/in/alex-allis-19316991"target="_blank">
                  <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_color-128.png" style="width:30px;height:30px" alt=""></a>
                  <a href="https://github.com/alexanderallis"target="_blank">
                  <img src="http://image005.flaticon.com/25/svg/25/25231.svg" style="width:27px;height:27px" alt=""></a>
                </div>
              </div>

            <div class="stupid-bootstrap"><div class="col-sm-2 rider-peeps" >
                <img class="img-circle img-responsive img-center" src="<%= asset_path( 'nicky.png' ) %>" alt="">
                <h4 align="center">Nicky Cadavillo</h4>
                <h5>Whiskey in a Teacup</h5>
                <p>Front-End Engineering</p>
                </div>
                <div class="personal-info-icons" style="padding-bottom: 10%; position:relative; text-align:center;">
                  <a href="https://www.linkedin.com/in/nicolecadavillo"target="_blank">
                  <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_color-128.png" style="width:30px;height:30px" alt=""></a>
                  <a href="https://github.com/nickycadavillo"target="_blank">
                  <img src="http://image005.flaticon.com/25/svg/25/25231.svg" style="width:27px;height:27px" alt=""></a>
                </div>
              </div>


            <div class="stupid-bootstrap"><div class="col-sm-2 rider-peeps" >
                <img class="img-circle img-responsive img-center" src="<%= asset_path( 'jefferson.png' ) %>" alt="">
                <h4 align="center">Jefferson Neel</h4>
                <h5>Banks, Beets, Battlestar Galactica</h5>
                <p>Ruby on Rails</p>
                  </div>
                <div class="personal-info-icons" style="padding-bottom: 10%; position:relative; text-align:center;">
                  <a href="https://www.linkedin.com/in/jeffersonneel"target="_blank">
                  <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_color-128.png" style="width:30px;height:30px" alt=""></a>
                  <a href="https://github.com/eljefeasu"target="_blank">
                  <img src="http://image005.flaticon.com/25/svg/25/25231.svg" style="width:27px;height:27px" alt=""></a>
                </div>
              </div>


            <div class="stupid-bootstrap"><div class="col-sm-2 rider-peeps" >
                <img class="img-circle img-responsive img-center" src="<%= asset_path( 'jim.png' ) %>" alt="">
                <h4 align="center">Jim Publicover</h4>
                <h5>Programmer &amp; Grammar Pro</h5>
                <p>Ruby on Rails</p>
              </div>
                <div class="personal-info-icons" style="padding-bottom: 10%; position:relative; text-align:center;">
                  <a href="https://www.linkedin.com/in/jim-publicover-a26583bb?authType=NAME_SEARCH&authToken=Hu-6&locale=en_US&srchid=339345021460340010018&srchindex=1&srchtotal=3&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A339345021460340010018%2CVSRPtargetId%3A428412414%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Atrue%2CauthType%3ANAME_SEARCH"target="_blank">
                  <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_color-128.png" style="width:30px;height:30px" alt=""></a>
                  <a href="https://github.com/Publicover"target="_blank">
                  <img src="http://image005.flaticon.com/25/svg/25/25231.svg" style="width:27px;height:27px" alt=""></a>
                </div>
              </div>

            <div class="stupid-bootstrap"><div class="col-sm-2 rider-peeps" >
                <img class="img-circle img-responsive img-center" src="<%= asset_path( 'kevin.png' ) %>" alt="">
                <h4 align="center">Kevin Scott</h4>
                <h5>R&amp;D Process Engineer Turned Programmer</h5>
                <p>Ruby on Rails</p>
                </div>
                <div class="personal-info-icons" style="padding-bottom: 10%; position:relative; text-align:center;">
                  <a href="https://www.linkedin.com/in/kevin-scott-032446b"target="_blank">
                  <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_color-128.png" style="width:30px;height:30px" alt=""></a>
                  <a href="https://github.com/kscotteng"target="_blank">
                  <img src="http://image005.flaticon.com/25/svg/25/25231.svg" style="width:27px;height:27px" alt=""></a>
                </div>
              </div>


            <div class="stupid-bootstrap"><div class="col-sm-2 rider-peeps" >
                <img class="img-circle img-responsive img-center" src="<%= asset_path( 'kate.png' ) %>" alt="">
                <h4 align="center">Kate Studwell</h4>
                <h5>Project Manager, Dancer &amp; Brunch Specialist</h5>
                <p>Ruby on Rails</p>
            </div>
                <div class="personal-info-icons" style="padding-bottom: 10%; position:relative; text-align:center;">
                  <a href="https://www.linkedin.com/in/katestudwell"target="_blank">
                  <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_color-128.png" style="width:30px;height:30px" alt=""></a>
                  <a href="https://github.com/katestud"target="_blank">
                  <img src="http://image005.flaticon.com/25/svg/25/25231.svg" style="width:27px;height:27px" alt=""></a>
                </div>
              </div>


        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; FareFairy
                      <script language="JavaScript" type="text/javascript">
                         now = new Date
                         theYear=now.getYear()
                         if (theYear < 1900)
                         theYear=theYear+1900
                         document.write(theYear)
                       </script>
                    </p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
